body {
  background-image: url("src/landscape.jpg");
  font-family: Share Tech Mono;
}

.card {
  margin-top: 150px;
  border-radius: 30px;
  background: #000000d0;
  color: white;
  font-family: Share Tech Mono;
  display: block;
  max-width: 100%;
}

.card-body {
  text-align: center;
  border: solid;
  border-radius: 30px;
  font-family: Share Tech Mono;
}

#city-input {
  border: solid black;
  background-color: white;
  font-family: Share Tech Mono;
  width: 30%;
  text-align: center;
  border-radius: 20px;
}

input,
select,
textarea {
  color: black;
}

#button,
#current-location {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: Share Tech Mono;
  border: solid black;
}

#button,
#current-location,
#city-input {
  margin-top: 40px;
}

.icon {
  display: block;
  width: 150px;
  margin-top: 20px;
  margin-left: 80px;
}

.description {
  font-size: 20px;
}

.description::first-letter {
  text-transform: capitalize;
}

.location {
  font-family: Share Tech Mono;
  margin-top: 25px;
  margin-right: 40px;
  font-size: 30px;
  text-align: justify;
}

.town {
  font-size: 25px;
  font-weight: bolder;
}

#date-time {
  font-weight: lighter;
}

.temperature {
  font-family: Share Tech Mono;
  margin-top: 5px;
  font-size: 150px;
}

.conditions {
  font-family: Share Tech Mono;
  margin-top: 40px;
  font-size: 24px;
  text-align: justify;
}

.degrees {
  font-weight: bolder;
  font-size: 40px;
}

.horizontalLine {
  border: 1px solid white;
  margin-top: 10px;
}

.weather-forecast {
  text-align: center;
}

.min {
  opacity: 0.5;
}

.githubLink {
  text-align: center;
  margin-top: 10px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
