body {
  background-image: url("src/landscape.jpg");
  font-family: 'Pacifico', cursive;
}

.container {
  max-width: 45%;
}

.card {
  margin-top: 150px;
  border-radius: 30px;
  background: #000000d0;
  color: white;
  font-family: 'Pacifico', cursive;
  display: block;
  max-width: 100%;
}

.card-body {
  text-align: center;
  border-radius: 30px;
  font-family: 'Pacifico', cursive;
}

#city-input {
  border: solid black;
  background-color: white;
  font-family: 'Pacifico', cursive;
  width: 30%;
  text-align: center;
  border-radius: 20px;
}

input,
select,
textarea {
  color: grey;
}

#button,
#current-location {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: 'Pacifico', cursive;
  border: solid black;
}

#button,
#current-location,
#city-input {
  margin-top: 40px;
}

.icon {
  display: block;
  max-width: 150px;
  margin: 50px auto;
  line-height: 0;
}

.location {
  font-family: 'Pacifico', cursive;
  margin-top: 50px;
  margin-right: 40px;
  font-size: 20px;
  text-align: justify;
}

.town {
  font-size: 30px;
  font-weight: bolder;
}

#date-time {
  font-weight: lighter;
  font-size: 17px;
  margin-top: 10px;
}

.description {
  margin-top: 10px;
}

.description::first-letter {
  text-transform: uppercase;
}

.temperature {
  font-family: 'Pacifico', cursive;
  font-size: 150px;
}

.conditions {
  font-family: 'Pacifico', cursive;
  margin-top: 50px;
  font-size: 24px;
  text-align: justify;
}

#humidity,
#wind {
  font-size: 20px;
}

.degrees {
  font-weight: bolder;
  font-size: 30px;
}

.horizontalLine {
  border: 1px solid white;
  margin-top: 10px;
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.min {
  opacity: 0.5;
}

footer p {
  font-size: 22px;
}

.githubLink {
  text-align: center;
  margin-top: 10px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

/* styles for small screens */
@media only screen and (max-width: 480px) {

  .container {
    max-width: 100%;
  }

  .card {
    margin-top: 200px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 1);
  }

  #city-input {
    width: 50%;
    font-size: 12px;
  }

  #button {
    font-size: 12px;
  }

  #current-location {
    font-size: 12px;
  }

  .icon {
    max-width: 80px;
    margin: 50px auto;
  }

  .location {
    margin-top: 35px;
    margin-right: 0;
  }

  .description {
    font-size: 15px;
  }

  #date-time {
    font-size: 12px;
  }

  .temperature {
    font-size: 50px;
  }

  #town-input {
    font-size: 16px;
  }

  .conditions {
    font-size: 16px;
    margin-top: 20px;
  }

  .degrees a {
    font-size: 20px;
  }

  #humidity,
  #wind {
    font-size: 12px;
  }

  .horizontalLine {
    margin-top: 5px;
  }

  .weather-forecast {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  img {
    max-width: 35px;
  }

  footer p {
    color: black;
  }

  .githubLink a {
    color: whitesmoke;
  }
}

/* styles for medium screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .card {
    margin-top: 200px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 1);
  }

  #city-input {
    width: 60%;
  }

  .icon {
    max-width: 120px;
  }

  .location {
    margin: 50px auto;
  }

  .temperature {
    font-size: 80px;
    margin: 50px auto;
  }

  .conditions {
    font-size: 20px;
    margin: 50px auto;
  }

  #humidity,
  #wind {
    font-size: 18px;
  }

  .horizontalLine {
    margin-top: 8px;
  }

  .weather-forecast {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer p {
    color: black;
    font-size: 20px;
  }

  .githubLink a {
    color: whitesmoke;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 80%;
  }

  .card {
    margin-top: 200px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 1);
  }

  #city-input {
    width: 60%;
  }

  .icon {
    max-width: 120px;
  }

  .location {
    margin: 50px auto;
  }

  .temperature {
    font-size: 80px;
    margin: 50px auto;
  }

  .conditions {
    font-size: 20px;
    margin: 50px auto;
  }

  #humidity,
  #wind {
    font-size: 18px;
  }

  .horizontalLine {
    margin-top: 8px;
  }

  .weather-forecast {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer p {
    color: black;
    font-size: 20px;
  }

  .githubLink a {
    color: whitesmoke;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    max-width: 80%;
  }

  .card {
    margin-top: 200px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 1);
  }

  #city-input {
    width: 60%;
  }

  .icon {
    max-width: 120px;
  }

  .location {
    margin: 50px auto;
  }

  .temperature {
    font-size: 80px;
    margin: 50px auto;
  }

  .conditions {
    font-size: 20px;
    margin: 50px auto;
  }

  #humidity,
  #wind {
    font-size: 18px;
  }

  .horizontalLine {
    margin-top: 8px;
  }

  .weather-forecast {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer p {
    color: black;
    font-size: 20px;
  }

  .githubLink a {
    color: whitesmoke;
  }
}